<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
    <title>lifestyle Survey</title>
</head>
<body>
<div class="wrapper">
    <div class="ui massive menu">
        <div class="ui container">
            <div class="header item">
                <a href="/" class="link">Lifestyle Survey</a>
            </div>
            <a href="about.ejs" class="item">
                About Me
            </a>
        </div>
    </div>
    <div class="ui container">
        <div class="ui card">
            <div class="image">
                <img src="https://avatars0.githubusercontent.com/u/20153025?s=460&v=4">
            </div>
            <div class="content">
                <a class="header">Axel Bukasa</a>
                <div class="meta">
                    <span class="email">axelb.bukasa@gmail.com</span>
                    <br>
                    <span class="email">082 714 3180</span>
                </div>
                <div class="description">
                    Software developer.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/semantic.min.js"></script>
</body>
</html>
